<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"/>
  
  <!-- gripper -->
  <xacro:include filename="$(find ur3_ros_assignment_2)/urdf/gripper.urdf" />
  <xacro:gripper_v5 parent="ee_link" >
	<origin xyz="0.0 0.0 0.0" rpy="0 0 1.5708" />
  </xacro:gripper_v5> 

   <!-- base -->
  <xacro:include filename="$(find ur3_ros_assignment_2)/urdf/base.urdf" />
  <xacro:base_ur5 parent="base_link" >
	<origin xyz="0.0 0.0 -1.027" rpy="1.571 0.0 -0.785" /> 
  </xacro:base_ur5> 


  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
